# Pandas Task

1) Load the dataset into a pandas DataFrame and display the first 5 rows.

In [3]:
# Load the dataset

import pandas as pd

dataset = pd.read_csv('StudentsPerformance.csv')

In [4]:
# Display the first 5 rows
dataset.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

2) How many students are there in the dataset?

In [5]:
# Count the number of rows

num_rows = len(dataset)

print("Number of rows in the dataset:", num_rows)

Number of rows in the dataset: 1000

3) What are the unique values in the 'gender' column?

In [6]:
# Get unique values in the 'gender' column
unique_genders = dataset['gender'].unique()

# Print the unique values
print(unique_genders)

['female' 'male']

4) What is the average score in math among female students?

In [8]:
# Calculate the average math score among female students

# Filter for female students
female_students = dataset[dataset['gender'] == 'female']

# Calculate the average math score
average_math_score = female_students['reading score'].mean()

# Print the average math score
print(average_math_score)

63.633204633204635

5) What is the maximum score in reading among male students?

In [10]:
# Find the maximum reading score among male students

male_students = dataset[dataset['gender'] == 'male']

# Calculate the average math score
max_reading = male_students['reading score'].max()

# or dataset[dataset['gender'] == 'male']['reading score'].max()

# Print the average math score
print(max_reading)

100

6) Create a new column 'total_score' which sums up the scores of math, reading, and writing for each student.

In [11]:
# Create a new column 'total_score'

dataset['total_score'] = dataset[['math score', 'reading score', 'writing score']].sum(axis=1)
# or dataset['total_score'] = dataset['math score'] + dataset['reading score'] + dataset['writing score']

print(dataset)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score  \
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

     total_score
0            218
1            247
2            278
3            148
4            229
..           ...
995          282
996          172
997          195
998          223
999          249

[1000 rows x 9 columns]

7) Who scored the highest total marks and what is the score?

In [12]:
# Find the student with the highest total score

dataset['total_score'].max()

300

8) Calculate the mean, median, and standard deviation of scores in writing.

In [14]:
# Calculate mean, median, and standard deviation of writing scores

# dataset['writing score'].mean()
# dataset['writing score'].median()
# dataset['writing score'].std()

writing_stats = dataset['writing score'].describe()

# Print the results
print(writing_stats)

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

9) How many students have scored above 90 in all subjects?

In [21]:
# Count the number of students who scored above 90 in all subjects

# Filter for students with scores above 90 in all subjects
top_scorers = dataset[(dataset['math score'] > 90) & (dataset['reading score'] > 90) & (dataset['writing score'] > 90)]

# Count the number of top scorers
number_of_top_scorers = len(top_scorers)

# Print the results
print(number_of_top_scorers)

23

10)Create a new column 'pass_status' which contains 'Pass' if the student's total score is greater than or equal to 150, otherwise 'Fail'.

In [18]:
# Create a new column 'pass_status'
# dataset['pass_status'] = dataset[dataset['total_score'] >= 150].sum(axis=1)
# print(dataset)

dataset['pass_status'] = dataset['total_score'].apply(lambda x: 'Pass' if x >= 150 else 'Fail')

print(dataset)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score  \
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

     total_score pass_status
0            218        Pass
1            247        Pass
2            278        Pass
3            148        Fail
4            229        Pass
..           ...         ...
995          282        Pass
996          172        Pass
997          195        Pass
998          223        Pass
999          249        Pass

[1000 rows x 10 columns]

11) How many null values are there in each column of the dataset?

In [17]:
dataset.isnull().sum()

gender                           0
race/ethnicity                   0
parental level of education      0
lunch                            0
test preparation course          0
math score                       0
reading score                    0
writing score                    0
total_score                      0
pass_status                    103
dtype: int64

# Dataset

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams